.is-horizontal-center {
    justify-content: center;
}

.is-same-size {
    height: 32px;
    width: 32px;
}

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    background: #f7f7f7;
}

img:hover {
    transform: scale(1.1);
}

img {
    transition: all .2s ease-in-out;
}

.column {
    transition: all .2s ease-in-out;
}

.column:hover {
    transform: scale(1.05);
}