html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #222831;
}

.main {
    background-color: #222831;
}

.light-grey {
    color: #eeeeee;
}

.project-card {
    background-color: #393e46!important;
    color: #eeeeee!important;
}

.experience-card {
    background-color: #222831!important;
    color: #eeeeee!important;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

section {
    height: 90vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}