html, body{
    padding:0;
    margin:0;
    height: 100%;
    min-width: 1000px;
}

body {
    background: #333333;
}

a {
    color: white;
    text-decoration: none;
    font: 300 20px/28px Quicksand;
    letter-spacing: 1px;

}

a:hover {
    color: #a9b2b9;
}

.main-header {
    background-size: 100%;
    height: 9%;
    min-height: 90px;
}

.main-header h1 {
    display: inline-block;
    margin: 1.5% .3% 1.3% 5%;
}

.header-nav {
    display: inline-block;
    margin: 2% 3% 0 5%;
}

.header-link {
    margin-right: 35px;
}

.middle {
    height: 36%;
    padding:1px;
}

.middle ul {
    animation-name: fade;
    animation-duration: 2s;
    font: 100 20px/28px Quicksand;
    font-size: 150%;
    color: lightskyblue;
    position: relative;
    margin-left: 4%;
    top: 20%;
}

.resource {
    color: lightskyblue;
}

.resource:hover {
    color: lightblue;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}